* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Basic Styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  header, main, footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header h1 {
    color: rgb(255, 221, 0); /* Yellow color */
  }
  
  header p {
    color: #333; /* Black color */
  }
  
  form {
    background-color: #f8f9fa; /* Light grayish color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    color: #000000; /* Yellow color */
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #f39c12; /* Yellow color */
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: none;
    border-color: #333; /* Black color */
  }
  
  button {
    color: #000000; /* Yellow color */
    background-color: rgb(255, 221, 0);/* Black color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  button:hover {
    background-color: #000000; /* Black color */
    color: rgb(255, 221, 0); /* Yellow color */
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
    color: #666; /* Dark gray color */
  }